    *{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Courier New',  monospace;
}
body{
    min-height: 100vh;
    background-color: black;
}
.container{
    background:#36454F ;
    max-width: 600px;
    margin: 100px auto;
    padding: 1rem;
    border-radius: 0.8rem;
    box-shadow: 0px 18px 26px white;
}
h1{
    text-align: center;
    margin-bottom: 1rem;
    color: white;
    font-weight: 800;
}
input{
    width: 80%;
    padding: 1rem;
}
#addBtn{
    padding: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}
#addBtn:hover{opacity: 0.8;}
.controls{
    display: flex;
    margin-top: 1rem;
    gap: 0.8rem;
    justify-content: right;
}
.controls button{
    padding: 1rem;
    cursor: pointer;
    margin-bottom: 1rem;
}
.filter-btn.active{
    background-color: green;
    border: none;
    outline: none;
    color: white;
}
.completed{
    text-decoration: line-through;
    opacity: 0.5;
}

li{
 background:#f4f4f4;
 margin-bottom: 1rem;
 padding: 1.6rem;
 display: flex;
 align-items: center;
 justify-content: space-between;

   

}
.contentDiv{
    display: flex;
    gap: 1rem;
}
.actions{
    display: flex;
    gap: 1rem;
}
.actions button{
    padding: 1rem;
}


